.container-fluid
  .row
    .col-sm-4
      h2 Konfiguration
      div
        - for (var x = 100; x < 130; x++)
          | item#{x} 
    .col-sm-8
      #DokuSys_Edit
        - for (var x = 100; x < 130; x++)
          | item#{x} 