.container-fluid(style='background-color: #1d1d1d;height:400px;')
  .row
    .col-sm-4
      h2 Datenbankzugriff
      button#btntest.btn.btn-danger(type="button") test
      div
        - for (var x = 100; x < 130; x++)
          | item#{x} 
    .col-sm-8
      #DokuSys_Edit
        - for (var x = 100; x < 130; x++)
          | item#{x} 
