.row
  .col-md-4
    button#btntest.btn.btn-danger(type="button") test
    div
    - for (var x = 100; x < 130; x++)
      | item#{x} 
  .col-md-8
    div
    - for (var x = 100; x < 130; x++)
      | item#{x} 
