.container-fluid.JL
  .row
    .col-sm-4
      h3 Doku-Management
      .input-group
        input.form-control(type='text',placeholder='Suchbegriff')
        .input-group-btn
          button#btnTest.btn.btn-default(type='button') Suche
      #DokuSys_TopicTree
    .col-sm-8
      #DokuSys_TopicDlg
        div.topicRoot
          h1 Doku-Management
          h3 Artikel anlegen
          blockquote
            p Neue Artikel werden unterhalb des aktuellen Artikels mit Klick auf das 
              span.fa.fa-plus-square.text-primary
              | -Symbol am Ende der Pfadanzeige erzeugt.
          h3 Artikel bearbeiten
          blockquote
            p Zum Bearbeiten den mit 
              span.fa.fa-pencil-square-o.text-primary
              |  markierten Artikel in der Pfadanzeige anklicken.

        form.topicWorkspace
          h1.topicShow(name='topic') Thema
          .form-group.topicEdit.hidden
            label Topic
            input.form-control(name='topic',type='text',required='required',placeholder='Topic',data-bv-message='Topic angeben')
          .form-group.topicEdit.hidden
            label Schlagworte
            input.form-control(name='keywords',type='text',placeholder='Schlagworte')
          div.topicShow(name='topictext', style='background-color:#fbfbfb;')
          .form-group.topicEdit.hidden
            label Beschreibung
            div.form-group.summernote.topicEditor(name='topictext')
          .form-group.topicEdit.hidden
            .col-xs-3.col-xs-offset-1
              button#btnCancel.btn.btn-danger.btn-block(type='button') Abbrechen
            .col-xs-3.col-xs-offset-4
              button.btn.btn-primary.btn-block(type='submit') OK
