.container-fluid.JL
  .row
    .col-sm-4
      h3 Doku-Management
      .input-group
        input.form-control(type='text',placeholder='Suchbegriff')
        .input-group-btn
          button#btnTest.btn.btn-default(type='button') Suche
      #DokuSys_TopicTree
    .col-sm-8
      #DokuSys_TopicDlg
