h1 IO-Device

if AppConfig.productional
  //link(rel='stylesheet', href='dist/css/j.css')
  script(type='text/javascript', src='dist/js/io/iodevice.min.js')
else 
  //link(rel='stylesheet', href='dist/css/j.css')
  script(type='text/javascript', src='js/io/iodevice.js')
