.container-fluid.JL
  .row
    .col-sm-4
      h2 IO-Devices
      ul#devlist
        li
          .list-title Titel
          .list-subtitle Subtitel
          .list-remark Bemerkung
        li
          .list-title Titel
          .list-subtitle Subtitel
          .list-remark Bemerkung

if AppConfig.productional
  link(rel='stylesheet', href='dist/css/io/iodevice.min.css')
  script(type='text/javascript', src='dist/js/io/iodevice.min.js')
else 
  link(rel='stylesheet', href='css/io/iodevice.css')
  script(type='text/javascript', src='js/io/iodevice.js')
