#DokuSys_TopicDlg .form-group {
  margin-bottom: 5px;
}

#DokuSys_TopicDlg #links .badge {
  font-weight: 200;
  background-color: #999;
  margin: 2px 2px 0 0;
}

#DokuSys_TopicDlg #links .fileversions span {
  font-size: small;
  display:  inline-block;
  color: #333;
}

#DokuSys_TopicDlg #links .fileversions span:nth-child(1) {
  color: #0094ff;
  width: 3%
}

#DokuSys_TopicDlg #links .fileversions span:nth-child(2) {
  color: #0094ff;
  width: 20%;
}

#DokuSys_TopicDlg #links .fileversions span:nth-child(3) {
  width: 70%;
  font-size: x-small;
}

