
.outlookList {
  list-style-type:none;
  padding: 0;
  background-color: #fff;
}

.outlookList li {
  display:  block;
  padding: 0px 0px 0px 5px;
  border-bottom: 1px #e1e1e1 solid;
  border-left: 3px #fff solid;
  
}

.outlookList li.hover {
  border-left: 3px #b1d6f0 solid;
  background-color: #e6f2fa;
}
.outlookList li.active {
  border-left: 3px #b1d6f0 solid;
  background-color: #cde6f7 !important;
}

.outlookList li .list-title {
  color: #333;
  font-size: medium;
}
.outlookList li .list-subtitle {
  color: #00f;
  font-size: small;
}
.outlookList li .list-remark {
  color: #999;
  font-size: small;
}

