.ioDef {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    width: 100%;
    background-color: #fff;
    padding: 4px;
}

.ioDef .name {
  display: block;
}

.ioDef .klasse {
  display: inline-block;
  color: #333;
  font-size: medium;
  width:  30%;
}
.ioDef .typ {
  display: inline-block;
  color: #333;
  font-size: smaller;
  width:  30%;
}
.ioDef .channel {
  display: inline-block;
  color: #333;
  font-size: smaller
}

